<div class="card">
  <%= render @agent %>
</div><br>
<div>
  <%= link_to "Редактировать", edit_agent_path(@agent),class: "btn btn-secondary" %>
  <%= link_to "Назад", agents_path, class: "btn btn-secondary" %>
</div>

<div></div>
